.container {
  padding: 1.25rem;

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
  }

  .buttons {
    text-align: right;
    button {
      margin-left: 0.625rem;
    }
  }
}

@media (min-width: 768px) {
  .container {
    margin: 2rem;
  }
}

@media (max-width: 767px) {
  .container {
    min-width: 90%;
    max-width: 100%;
    padding: 0.625rem;

    form {
      margin-bottom: 0.625rem;
    }

    .buttons {
      text-align: center;
      button {
        margin: 0.625rem 0;
        width: 100%;
      }
    }
  }
}
