<div class="container">
  <h1>Panel de Control de Administrador</h1>
  <section class="webdata">
    <h2>Datos de Picoop</h2>
    <div class="data">
      <span>Imágenes Subidas a la Web: </span>
      <span>{{webData.uploadedImages}}</span>
    </div>
    <div class="data">
      <span>Peticiones Subidas a la Web: </span>
      <span>{{webData.uploadedPetitions}}</span>
    </div>
    <div class="data">
      <span>Usuarios Registrados en la Web: </span>
      <span>{{webData.registeredUsers}}</span>
    </div>
  </section>

</div>
