.container-fluid {
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  .container-fluid {
    padding: 20px;
    font-size: 14px;
    position: static;
    text-align: center;
  }
}
