<mat-toolbar>
  <mat-toolbar-row>
    <div class="header_container">
      <div class="header_title">
        <img src="../../../assets/images/picoop.png" alt="picoop icon" width="40">
      </div>

      <div class="header_menu">
        <div class="header_button">
          <a routerLink="/public/petitions" routerLinkActive="active">Peticiones</a>
        </div>
        <div class="header_button">
          <a routerLink="/public/images" routerLinkActive="active">Imágenes</a>
        </div>
      </div>

      <div class="header_login">
        <mat-icon>account_circle</mat-icon>
        <a *ngIf="!isAuthenticated" routerLink="/auth/signin" routerLinkActive="active">Sign in</a>
        <a *ngIf="isAuthenticated" (click)="logout()" routerLink="/public/images">Logout</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
