<div class="container">
  <h1>Listado de Imágenes</h1>

  <div class="grid-container">
    <div class="image-card" *ngFor="let image of images">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div>
            <p>
              {{ image.imgTitle }}
            </p>
          </div>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'data:image/png;base64,' + image.image">
        <mat-card-content>
          <div class="image-description">
            <p>{{ image.img_description }}</p>
          </div>
          <div class="image-more-data">
            <span>{{ image.img_uploadingDate }}</span>
            <span>|</span>
            <span>{{ image.user.email }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
