<div class="container">
  <h1>Listado de Imágenes</h1>

  <form (submit)="getFilteredImages(filter)">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Busca una imagen</mat-label>
        <input matInput placeholder="Ej. gato naranja disfrazado de perro" [(ngModel)]="filter" name="filter"
          type="text">
      </mat-form-field>
      <button type="submit">Buscar</button>
    </div>
  </form>
  <div class="grid-container">
    <div class="image-card" *ngFor="let image of paginatedImages">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div>
              <p>
                {{ image.imgTitle }}
              </p>
            </div>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="'data:image/png;base64,' + image.image">
        <mat-card-content>
          <div class="image-description">
            <p>{{ image.img_description }}</p>
          </div>
          <div class="image-more-data">
            <span>{{ image.img_uploadingDate }}</span>
            <span>|</span>
            <span>{{ image.user.email }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [length]="images.length" [pageSize]="pageSize" [pageSizeOptions]="[3, 15, 21, 30]" aria-label="Select page" (page)="onPageChange($event)">
    </mat-paginator>
  </div>

</div>
